table {
	border: 1px DarkSlateBlue;
}
td:hover {
	background-color: DeepSkyBlue;
	color: white;
}
tr, th {
	background-color: DarkSlateGrey;
	color: white;
}
tr, td {
	background-color: LightCyan;
	color: DarkSlateGrey;
}
