.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    filter: hue-rotate(240deg);
    border-radius: 10px 30px;
}

footer {
    text-align: center;
    font-weight: 900;
}

table {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid grey;
}

th {
    background-color: hotpink;
}

/*---My Trash---*/
.photo {
    position:relative;
    display: inline-block;
    text-align: right;
    color: #fff;
}

.b-right {
    position:absolute;
    bottom: 28px;
    right: 160px;
    color: hotpink;
}

.navbar {
    overflow: hidden;
    background-color: hotpink;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: indigo;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.navbar a:hover {
    background: #fff;
    color: black;
}

.main {
    margin-top: 30px;
}